numpy
pandas
matplotlib
seaborn
scikit-learn
scipy

# pip install category-encoders
#category_encoders

# conda install -c conda-forge umap-learn
umap-learn

# conda install -c conda-forge hdbscan
hdbscan